* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[aria-hidden="true"] {
  display: none;
}
:focus {
  outline: 2px solid #1c184d;
}
input[type="checkbox"]:focus {
  outline: none;
  border: 2px solid #1c184d;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("./font/SofiaProRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("./font/SofiaProMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

body {
  font-size: 16px;
  font-family: "Sofia Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overscroll-behavior: contain; /* https://usefulangle.com/post/278/html-disable-pull-to-refresh-with-css */
}

#main {
  background: rgba(28, 19, 119, 0.1);
}

/* Checkbox */
label {
  cursor: pointer;
}

input[type="checkbox"],
input[type="checkbox" i] {
  background-color: white;
  appearance: none;
  font: 16px/1em sans-serif;
  width: 16px;
  height: 16px;
  border: 2px solid #e0e0e0;
  border-radius: 2px;
  cursor: pointer;
}
input[type="checkbox" i]:before {
  pointer-events: none;
  will-change: background-color, border-color;
  transition: background-color 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1),
    border-color 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
}
input[type="checkbox"]:checked:before,
input[type="checkbox" i]:checked:before {
  background: #1c1377;
  color: #fff;
  content: "\2713";
  /*content: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiPgo8cGF0aCBmaWxsPSJ3aGl0ZSIgZD0iTTEuNzMsMTIuOTEgOC4xLDE5LjI4IDIyLjc5LDQuNTkiPjwvcGF0aD4KPC9zdmc+");*/
  text-align: center;
  font: 16px/1em sans-serif;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  position: absolute;
  margin: -2px 0 0 -2px;
}

/* Default */
.container {
  padding: 40px;
}

.grid {
  display: grid;
  gap: 1rem;
}

.grid-item {
  display: grid;
  grid-template-columns: minmax(200px, 30%) 1fr 56px;
  background: white;
  color: #777494;
  border-radius: 4px;
  box-shadow: 0 0 0 0 rgba(24, 33, 77, 0.3);
  transition: box-shadow 0.3ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.grid-item:hover {
  box-shadow: 0 5px 10px 0 rgba(24, 33, 77, 0.05);
}
.grid-item:focus {
  background: rgba(239, 238, 245, 1);
  box-shadow: 0 0 0 0 rgba(24, 33, 77, 0.3);
}
.grid-item > div {
  display: flex;
  align-items: center;
  padding: 16px 0;
}
.grid-item > div:last-child {
  padding: 0;
}

.grid-info {
  margin: 0 16px;
}
.grid-info > * {
  margin-right: 16px;
}
.grid-info__name {
  user-select: none;
  color: #1c184d;
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.25rem;
}
.grid-info__address {
  color: #777494;
  letter-spacing: 0.4px;
  line-height: 1.25rem;
  font-size: 0.75rem;
}
.grid-info__address .locality {
  white-space: nowrap;
}
.grid-info__address .street:after {
  content: "•";
  display: inline-block;
  margin: 0 4px;
}

.grid-days {
  font-size: 0.875rem;
  line-height: 1.1rem; /* 1.25 = 20px */
}
.grid-days .name {
  display: none;
}
.grid-days > div {
  justify-content: space-between;
  width: calc(100% / 7);
  padding-right: 8px;
}
.grid-days__open {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.grid-days__open span {
  margin-bottom: 0.375rem;
}
.grid-days__open span:last-child {
  margin-bottom: 0;
}

.grid-item .grid-edit {
  justify-content: center;
  align-items: stretch;
}

.btn-grid {
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  color: #1c184d;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #00ceb0;
  border: none;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Tablet 1024 */
@media only screen and (max-width: 860px) {
  .container {
    padding: 24px;
  }

  .grid-item {
    grid-template: 1fr 1fr / 1fr 56px;
  }
  .grid-item:hover,
  .grid-item:focus {
    box-shadow: none;
  }
  .grid-item .grid-info {
    padding-bottom: 0;
  }
  .grid-item .grid-days {
    padding-top: 0;
  }
  .grid-item > div {
    padding: 8px 0;
  }
  .grid-info {
    margin-bottom: 8px;
  }
  .grid-days {
    grid-area: 2;
    margin: 0 16px;
    align-items: flex-start !important;
  }
  .grid-days__open {
    font-size: 0.75rem;
  }
  .grid-days .name {
    display: block;
    font-weight: 500;
  }
  .grid-edit {
    grid-area: span 2;
  }
}

/* Phone  768px */
@media only screen and (max-width: 600px) {
  .container {
    padding: 16px;
  }

  .grid-item {
    grid-template: 1fr / 1fr 56px;
  }
  .grid-item .grid-info {
    padding-bottom: 16px;
  }
  .grid-days {
    grid-area: 2 / span 2;
    flex-direction: column;
  }
  .grid-days > div {
    width: 100%;
    display: grid;
    grid-template: 1fr / minmax(min-content, max-content) 1fr;
    gap: 0.5rem;
  }
  .grid-days__open span {
    margin-right: 1rem;
    margin-bottom: 0.375rem !important;
  }
  .grid-edit {
    grid-area: inherit;
  }
  .grid-info > div:last-child {
    margin-right: 0;
  }

  /* Btn full */
  .grid-item.btn-full .grid-days {
    grid-area: 2;
  }
  .grid-item.btn-full .grid-edit {
    grid-area: span 2;
  }

  /* Phone lite */
  .phone-lite .grid-days {
    display: none;
  }
  .phone-lite .grid-info__checkbox {
    display: none;
  }
  .grid-item.phone-lite .grid-info {
    padding-bottom: 0;
  }

  /* Phone list */
  .phone-list.time-horizontal .grid-days__open {
    flex-direction: row;
  }
  .phone-list.time-vertical .grid-days__open {
    flex-direction: column;
  }

  /* Phone scroll */
  .phone-scroll .grid-days {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
  }
  .phone-scroll.date-horizontal .grid-days > div {
    grid-template: 1fr / minmax(min-content, max-content) 1fr;
  }
  .phone-scroll.date-vertical .grid-days > div {
    grid-template: 1fr / 1fr;
  }
}

/* Does not support */
@media only screen and (max-width: 319px) {
  #main {
    background: red;
  }
}
