* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
[aria-hidden="true"] {
  display: none;
}
:root {
  color-scheme: light;

  --transition-duration: 0.3ms;
  --transition-duration-button: 15ms;

  --border-radius-small: 2px;
  --border-radius-medium: 4px;

  --bg-color: #1c13771a;
  --color-white: #ffffff;
  --color-grey: #e0e0e0;
  --color-green: #00ceb0;
  --color-blue: #1c1377;
  --color-accent-blue: #1c184d;
  --color-muted-blue: #57546d; /* old #777494 but contrast is not ok => #57546D ok */

  --header-height: 72px;
  --header-top: 16px;
}
:focus {
  outline: 2px solid;
  outline-color: currentColor;
  outline-offset: -2px;
}
:active,
:target {
  outline: none;
}
input[type="checkbox"]:focus {
  outline: none;
  border: 2px solid;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("./font/SofiaProRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("./font/SofiaProMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: 16px;
  font-family: "Sofia Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overscroll-behavior: contain; /* https://usefulangle.com/post/278/html-disable-pull-to-refresh-with-css */
  background: var(--bg-color);
}

#header {
  position: fixed;
  height: var(--header-height);
  width: 100%;
  background: var(--color-blue);
  color: var(--color-white);
}

#header {
  padding: 16px 24px;
  padding-top: var(--header-top);
}

#header h1 {
  margin-right: 16px;
  display: flex;
  align-items: center;
  height: inherit;
}

#main {
  padding-top: var(--header-height);
}

h1 a,
.breadcrumb a {
  color: var(--color-white);
  text-decoration: none;
  padding: 4px;
}

#navigation {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) 80%;
}
.breadcrumb ul {
  height: 100%;
}
.breadcrumb li {
  list-style: none;
  display: flex;
  align-items: center;
  height: inherit;
}

/* Checkbox */
label {
  cursor: pointer;
}

input[type="checkbox"],
input[type="checkbox" i] {
  background-color: var(--color-white);
  appearance: none;
  -webkit-appearance: none;
  font: 16px/1em sans-serif;
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-grey);
  border-radius: var(--border-radius-small);
  cursor: pointer;
}
input[type="checkbox" i]:before {
  pointer-events: none;
}
input[type="checkbox"]:checked:before,
input[type="checkbox" i]:checked:before {
  background: var(--color-blue);
  color: var(--color-white);
  content: "\2713";
  /*content: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiPgo8cGF0aCBmaWxsPSJ3aGl0ZSIgZD0iTTEuNzMsMTIuOTEgOC4xLDE5LjI4IDIyLjc5LDQuNTkiPjwvcGF0aD4KPC9zdmc+");*/
  text-align: center;
  font: 16px/1em sans-serif;
  width: 16px;
  height: 16px;
  border-radius: var(--border-radius-small);
  position: absolute;
  margin: -2px 0 0 -2px;
}

/* Default */
.container {
  padding: 40px;
}

.grid {
  display: grid;
  gap: 1rem;
}

.grid-item {
  display: grid;
  grid-template-columns: minmax(200px, 30%) 1fr 56px;
  background: var(--color-white);
  color: var(--color-muted-blue);
  border-radius: var(--border-radius-medium);
  box-shadow: 0 0 0 0 rgba(24, 33, 77, 0.3);
  transition: box-shadow var(--transition-duration)
    cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transition: box-shadow var(--transition-duration)
    cubic-bezier(0.25, 0.1, 0.25, 1);
}
.grid-item:hover {
  /*cursor: pointer;*/
  box-shadow: 0 5px 10px 0 rgba(24, 33, 77, 0.05);
}
.grid-item:focus {
  background: rgba(239, 238, 245, 1);
  box-shadow: 0 0 0 0 rgba(24, 33, 77, 0.3);
}
.grid-item > div {
  display: flex;
  align-items: center;
  padding: 16px 0;
}
.grid-item > div:last-child {
  padding: 0;
}

.grid-info {
  margin: 0 16px;
}
.grid-info > * {
  margin-right: 16px;
}
.grid-info__name {
  user-select: none;
  color: var(--color-accent-blue);
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.25rem;
}
.grid-info__address {
  color: var(--color-muted-blue);
  letter-spacing: 0.4px;
  line-height: 1.25rem;
  font-size: 0.75rem;
}
.grid-info__address .locality {
  white-space: nowrap;
}
.grid-info__address .street:after {
  content: "•";
  display: inline-block;
  margin: 0 4px;
}

.grid-days {
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.1rem; /* 1.25 = 20px */
}
.grid-days .name {
  display: none;
}
.grid-days > div {
  justify-content: space-between;
  width: calc(100% / 7);
  padding-right: 8px;
}
.grid-days__open {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.grid-days__open span {
  margin-bottom: 0.375rem;
}
.grid-days__open span:last-child {
  margin-bottom: 0;
}

.grid-item .grid-edit {
  justify-content: center;
  align-items: stretch;
}
.grid-item:hover > .grid-edit .arrow {
  visibility: visible;
  opacity: 1;
}
.grid-edit:focus .arrow,
.btn-grid:focus .arrow {
  visibility: visible;
  opacity: 1;
}
.grid-edit .arrow {
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility var(--transition-duration-button) ease-in-out,
    opacity var(--transition-duration-button) ease-in-out;
  -webkit-transition: visibility var(--transition-duration-button) ease-in-out,
    opacity var(--transition-duration-button) ease-in-out;
}
.grid-edit .arrow svg {
  display: inline-flex;
  width: 15px;
  height: 15px;
  color: var(--color-green);
}

.btn-grid {
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  color: var(--color-accent-blue);
  width: 100%;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  line-height: 1.5;
}

/* Tablet 1024 */
@media only screen and (max-width: 860px) {
  .container {
    padding: 24px;
  }

  .grid-item {
    grid-template: 1fr 1fr / 1fr 56px;
  }
  .grid-item:hover,
  .grid-item:focus {
    box-shadow: none;
  }
  .grid-item .grid-info {
    padding-bottom: 0;
  }
  .grid-item .grid-days {
    padding-top: 0;
  }
  .grid-item > div {
    padding: 8px 0;
  }
  .grid-info {
    margin-bottom: 8px;
  }
  .grid-days {
    grid-area: 2;
    margin: 0 16px;
    align-items: flex-start !important;
  }
  .grid-days__open {
    font-size: 0.75rem;
  }
  .grid-days .name {
    display: block;
    font-weight: 500;
  }
  .grid-edit {
    grid-area: span 2;
  }
}

/* Phone  768px */
@media only screen and (max-width: 600px) {
  .container {
    padding: 16px;
  }

  .grid-item {
    grid-template: 1fr / 1fr 56px;
  }
  .grid-item .grid-info {
    padding-bottom: 16px;
  }
  .grid-days {
    grid-area: 2 / span 2;
    flex-direction: column;
  }
  .grid-days > div {
    width: 100%;
    display: grid;
    grid-template: 1fr / minmax(min-content, max-content) 1fr;
    gap: 0.5rem;
  }
  .grid-days__open span {
    margin-right: 1rem;
    margin-bottom: 0.375rem !important;
  }
  .grid-edit {
    grid-area: inherit;
  }
  .grid-info > div:last-child {
    margin-right: 0;
  }

  /* Btn full */
  .grid-item.btn-full .grid-days {
    grid-area: 2;
  }
  .grid-item.btn-full .grid-edit {
    grid-area: span 2;
  }

  /* Phone lite */
  .phone-lite .grid-days {
    display: none;
  }
  .phone-lite .grid-info__checkbox {
    display: none;
  }
  .grid-item.phone-lite .grid-info {
    padding-bottom: 0;
  }

  /* Phone list */
  .phone-list.time-horizontal .grid-days__open {
    flex-direction: row;
  }
  .phone-list.time-vertical .grid-days__open {
    flex-direction: column;
  }

  /* Phone scroll */
  .phone-scroll .grid-days {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
  }
  .phone-scroll.date-horizontal .grid-days > div {
    grid-template: 1fr / minmax(min-content, max-content) 1fr;
  }
  .phone-scroll.date-vertical .grid-days > div {
    grid-template: 1fr / 1fr;
  }
}

/* Windows High Constrast Mode */
@media screen and (-ms-high-contrast: active) {
  .grid-edit .arrow svg {
    /* Required to enable colors */
    forced-color-adjust: none;
    /* User-preferred "text" color */
    color: var(--color-accent-blue);
  }
}

/* iOS Standalone Mode */
@media screen and (display-mode: standalone) {
  #header {
    height: calc(var(--header-height) * 1.5) !important;
    padding-top: calc(var(--header-top) * 3) !important;
  }

  #main {
    padding-top: calc(var(--header-height) * 1.5);
  }
}

/* Animation reduced */
@media (prefers-reduced-motion) {
  :root {
    --transition-duration: 0ms;
    --transition-duration-button: 0ms;
  }
}

/* Dark mode common*/
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --bg-color: #121212;

    --color-white: #333333;
    --color-blue: #eeeeee;
    --color-accent-blue: #eeeeee;
    --color-muted-blue: #c4c4c4;
  }

  #header {
    --color-blue: #333333;
    --color-white: #eeeeee;
  }

  img,
  svg {
    filter: brightness(0.8) contrast(1.2);
  }
}

/* Dark mode Safari/Webkit */
@media (prefers-dark-interface) {
  :root {
    color-scheme: dark;

    --bg-color: #121212;

    --color-white: #333333;
    --color-blue: #eeeeee;
    --color-accent-blue: #eeeeee;
    --color-muted-blue: #c4c4c4;
  }

  #header {
    --color-blue: #333333;
    --color-white: #eeeeee;
  }

  img,
  svg {
    filter: brightness(0.8) contrast(1.2);
  }
}

/* https://medium.com/@draganeror/iphone-x-layout-features-with-css-environment-variables-d57423433dec */
@supports (padding-top: env(safe-area-inset-top)) {
  #main {
    --safe-area-inset-top: env(safe-area-inset-top);
    padding-bottom: var(--safe-area-inset-top);
  }
}
